torch
importlib_metadata
huggingface_hub
scipy
opencv-python-headless>=4.9.0.80
filelock
numpy
Pillow
einops
torchvision
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
albumentations
scikit-learn
scikit-learn-intelex
