torch>=2.7.1
importlib_metadata
huggingface-hub>=0.34.4
scipy==1.16.1
opencv-contrib-python==4.10.0.84
filelock==3.17.0
numpy==2.2.6
pillow==11.3.0
einops==0.8.0
torchvision>=0.22.1
scikit-image==0.25.2
python-dateutil>=2.9.0.post0
mediapipe==0.10.14
fvcore>=0.1.5.post20221221
omegaconf==2.3.0
ftfy==6.3.1
addict==2.4.0
yacs==0.1.8
yapf==0.43.0
trimesh[easy]
albumentations==1.4.4
scikit-learn==1.7.1
matplotlib==3.10.5

#Both pyyaml and tqdm are required dependencies for huggingface-hub as of version 0.33.4.
pyyaml==6.0.2
tqdm==4.67.1
